/* Shared styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

.primary-title {
  font-size: 3rem;
  color: #131313;
  font-weight: 700;
}
/* Header Styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 2rem 15rem;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav li {
  list-style: none;
  /* margin-right: 1rem; */
  padding: 1rem 2rem;
}
.nav a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
